<!-- Start Copyright -->
<div class="slider-bottom">
  <div class="slider-footer w-auto">
      <ul class="social-icons-simple">
          <li><a class="social-icon" href="https://t.me/CoinDHD"><i class="fab fa-telegram"></i> </a> </li>
      </ul>
  </div>
  <div class="text-grey small">Verified contract: EQBCFwW8uFUh-amdRmNY9NyeDEaeDYXd9ggJGsicpqVcHq7B</div>
  <span class="slider-copyright text-grey">© DHD Coin ($DHD).</span>
</div>
<!-- End Copyright -->

<!-- JavaScript -->
<script src="vendor/js/bundle.min.js"></script>
<!-- Plugin Js -->
<script src="vendor/js/jquery.appear.js"></script>
<script src="vendor/js/jquery.fancybox.min.js"></script>
<script src="vendor/js/owl.carousel.min.js"></script>
<!-- CUSTOM JS -->
<script src="js/jquery.pagepiling.min.js"></script>
<script src="vendor/js/contact_us.js"></script>
<script src="js/script.js"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();
  for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(93642676, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/93642676" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->