<!-- START HEADER -->
<header>
  <!--Navigation-->
  <nav class="navbar navbar-top-default navbar-expand-lg navbar-simple nav-line">
      <a href="#home" title="Logo" class="logo">
          <!--Logo Default-->
          <div class="mega-logo">
             <h1>DHD</h1>
          </div>
      </a>

      <!--Side Menu Button-->
      <div class="navigation-toggle">
          <ul class="slider-social toggle-btn my-0">
              <li>
                  <a href="javascript:void(0);" class="sidemenu_btn" id="sidemenu_toggle">
                      <span></span>
                      <span></span>
                      <span></span>
                  </a>
              </li>
          </ul>
      </div>
  </nav>

  <!--Side Nav-->
  <div class="side-menu hidden">
      <span id="btn_sideNavClose">
        <i class="las la-times btn-close"></i>
      </span>
      <div class="inner-wrapper">
          <nav class="side-nav w-100">
              <a href="#home" title="Logo" class="logo navbar-brand">
                  <h1>DHD Coin</h1>
              </a>
              <ul class="navbar-nav text-capitalize">
                  <li class="nav-item">
                      <a class="nav-link" href="#home">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#tokenomics">Tokenomics</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#utility">Utility</a>
                  </li>
              </ul>
          </nav>

          <div class="side-footer w-100">
              <ul class="social-icons-simple">
                  <li><a class="social-icon" href="https://t.me/CoinDHD"><i class="fab fa-telegram"></i> </a> </li>
              </ul>
              <p>© DHD Coin ($DHD)</p>
          </div>
      </div>
  </div>
  <a id="close_side_menu" href="javascript:void(0);"></a>
</header>
<!-- END HEADER -->